 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gelasio:ital,wght@0,400..700;1,400..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

 body {
     margin: 51px 50px;
     font-family: "Space Grotesk", sans-serif;
 }

 .head {
     display: flex;
     align-items: center;
     gap: 40px;
     margin-top: 80px;
     padding: 0px 50px;
 }

 .head h2 {
     font-size: 40px;
     font-weight: 500;
     background: #B9FF66;
     border: none;
     border-radius: 7px;
     padding: 7px;
     gap: 10px;
     margin: 0;
 }

 .head p {
     font-size: 18px;
     font-weight: 400;
     max-width: 580px;
     margin: 0;
 }

 .container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: column;
     background-color: #191A23;
     padding: 70px 60px;
     margin: 40px 10px 0 20px;
     border-radius: 45px;
     gap: 64px;
 }

 .case-studies-text {
     display: flex;
     justify-content: space-between;
     width: 100%;
     color: #FFFFFF;
     gap: 20px;
 }

 .case-card {
     box-sizing: border-box;
     border-right: 1px solid #FFFFFF;
     padding: 10px 20px;
     width: calc(33.33% - 20px);
 }

 .case-card:last-child {
     border-right: none;
 }

 .case-card p {
     font-size: 18px;
     font-weight: 400;
 }

 .learn-more {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 15px;

 }

 .learn-more img {
     width: 20px;
     height: 20px;
 }

 .learn-more p {
     font-size: 20px;
     font-weight: 400;
     line-height: 1.4;
     color: #B9FF66;
 }

 .head .working-process-p {
     max-width: 280px;
 }

 .process-card-card-green {
     background-color: #B9FF66;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     padding: 41px 60px;
     margin: 40px 20px 0 20px;
     border: 1px solid #191A23;
     border-radius: 45px;
     box-shadow: 0px 5px 0px #191A23;
 }

 .process-text {
     display: flex;
     flex-direction: column;
     gap: 25px;
 }

 .process-title {
     display: flex;
     align-items: center;
     gap: 20px
 }

 .number {
     font-size: 60px;
     font-weight: 500;
     margin: 0;
 }

 .process-title h3 {
     font-size: 30px;
     font-weight: 500;
     margin: 0;
 }

 .process-text-p {
     font-size: 18px;
     font-weight: 400;
     padding-top: 15px;
     border-top: 1px solid #000000;
 }

 .plus-minus-icon {
     width: 58px;
     height: 58px;
 }

 .process-card-card-gray {
     background-color: #F3F3F3;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     padding: 41px 60px;
     margin: 40px 20px 0 20px;
     border: 1px solid #191A23;
     border-radius: 45px;
     box-shadow: 0px 5px 0px #191A23;
 }

 .team-grid {
     display: flex;
     flex-wrap: wrap;
     gap: 40px;
     margin-top: 40px;

 }

 .team-card {
     border: 1px solid#191A23;
     border-radius: 45px;
     box-shadow: 0px 5px 0px #191A23;
     box-sizing: border-box;
     width: calc(33.33% - calc(80px / 3));
     padding: 40px 35px;
     gap: 10px;
 }

 .team-top {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     margin-bottom: 20px;
 }

 .team-photo-name {
     display: flex;
     align-items: flex-end;
     gap: 15px
 }

 .team-photo {
     width: 100px;
     height: 100px;
 }

 .in-icon {
     width: 34px;
     height: 34px;

 }

 .team-name-role h4 {
     font-size: 20px;
     font-weight: 500;
     margin: 0;
 }

 .team-name-role p {
     font-size: 18px;
     font-weight: 400;
     margin: 5px 0px 0px 0px;
 }

 .team-doc {
     font-size: 18px;
     font-weight: 400;
     border-top: 1px solid#000000;
     margin-top: 15px;
     padding-top: 15px;
 }

 .team-button-wrap {
     display: flex;
     justify-content: flex-end;
     padding: 0px 50px;
     margin-top: 40px;
 }

 .see-all-button {
     background-color: #191A23;
     color: #FFFFFF;
     font-size: 20px;
     font-weight: 400;
     border-radius: 14px;
     padding: 20px 50px;
     gap: 10px;
 }

 .footer {
     background-color: #191A23;
     color: #FFFFFF;
     padding: 55px 60px 50px 60px;
     border-radius: 45px 45px 0px 0px;
     margin-top: 45px;
 }

 .footer-top {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .footer-menu {
     display: flex;
     gap: 20px;
     align-items: center;
     font-size: 18px;
     text-decoration: underline;
 }

 .footer-social {
     display: flex;
     gap: 15px;
 }

 .footer-social img {
     width: 30px;
     height: 30px;
 }

 .footer-middle {
     display: flex;
     justify-content: space-between;
     margin-top: 50px;
 }

 .footer-contact-wrap {
     display: flex;
 }

 .footer-middle-left h4 {
     background-color: #B9FF66;
     color: #000000;
     font-size: 20px;
     font-weight: 500;
     padding: 7px;
     border-radius: 7px;
     margin: 0px 0px 15px 0px;
 }

 .footer-middle-left p {
     font-size: 18px;
     font-weight: 400;
     margin: 20px 0px;
 }

 .footer-middle-right {
     display: flex;
     background-color: #292A32;
     align-items: center;
     gap: 15px;
     padding: 58px 40px;
     border-radius: 14px;
 }

 .email-box {
     box-sizing: border-box;
     border: 1px solid #FFFFFF;
     border-radius: 14px;
     padding: 5px 35px;
     width: 260px;
 }

 .suscribe-button {
     background-color: #B9FF66;
     color: #000000;
     font-size: 20px;
     font-weight: 400;
     border-radius: 14px;
     padding: 20px 35px;
 }

 .footer-bottom {
     display: flex;
     align-items: center;
     font-size: 18px;
     font-weight: 400;
     margin-top: 40px;
     padding-top: 20px;
     border-top: 1px solid #FFFFFF;
     gap: 40px;
 }

 .footer-bottom div {
     text-decoration: underline;
 }